:root,
#root {
  --og-card-width: 63mm;
  --og-card-height: 88mm;
  --card-scale-factor: 0.48;
  --card-width: calc(var(--og-card-width) * var(--card-scale-factor));
  --card-height: calc(var(--og-card-height) * var(--card-scale-factor));
  
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  box-shadow:  0px 0px 2px 4px #b8b8b8
}

.card::hover {
  transform: translateY(-10px);
}